/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

.elm-header-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 890px;
  position: relative;
  width: 100%;

  @media screen and (max-width: 1000px) {
    padding: 0 20px;
    width: auto;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.elm-header {
  display: flex;
}

.dropotron {
  text-align: left;
  line-height: 2em;
  border-radius: 0.35em;
  min-width: 12em;
  background: #fff;
  line-height: 1em;
  padding: 0.85em 0 0.85em 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  margin-top: -0.8em;

  a, span {
    display: block;
    padding: 0.65em 1em 0.65em 1em;
    border-top: solid 1px #e8e8e8;
    border-bottom: 0;
  }

  li {
    &:first-child > {
      a, span {
        border-top: 0;
      }
    }

    &.active > {
      a, span {
        color: #f35858;
      }
    }
  }

  &.level-0 {
    font-size: 0.9em;
    margin-top: 0;

    &:before {
      content: '';
      position: absolute;
      top: -1em;
      width: 1em;
      height: 1em;
      border-bottom: solid 0.5em #fff;
      border-left: solid 0.5em rgba(255, 255, 255, 0);
      border-right: solid 0.5em rgba(255, 255, 255, 0);
    }

    &.center:before {
      left: 50%;
      margin-left: -0.5em;
    }

    &.left:before {
      left: 1em;
    }

    &.right:before {
      right: 1em;
    }
  }
}

/*********************************************************************************/
/* Header                                                                         */
/*********************************************************************************/

#contact-info {
  font-size: 14px;
  position: relative;
  top: 34px;
  overflow: hidden;
}

#contact-info-left {
  position: relative;
  left: 155px;
  float: left;
  width: 330px;
  padding: 0px 0px 0px 25px;
  background: url(../img/header-icons.gif) 0px 4px no-repeat;
}

#contact-info-right {
  position: relative;
  width: 330px;
  top: 0px;
  float: right;
  right: 115px;
  background: url(../img/header-icons.gif) 0px -27px no-repeat;
  padding: 0px 0px 0px 25px;
}