.elm-home-hero {
  background: url(../img/jumbotron-purple.jpg) no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  height: 37rem;
  margin: 0 auto;
  padding-top: 5em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: 1000px) {
    width: auto;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 20px;
    height: auto;
  }

  @media screen and (max-width: 480px) {
    padding: 20px 10px;
    width: auto;
  }

  h1 {
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1.15;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;

    @media screen and (max-width: 600px) {
      font-size: 36px;
      padding-bottom: 15px;
    }

    @media screen and (max-width: 480px) {
      line-height: 1.2;
      padding: 15px 0;
    }
  }

  strong {
    color: inherit;
  }

  header > span {
    color: #fff;
  }

  &__boiler {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.4;
    margin: 1em auto 2em auto;
    max-width: 700px;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
      margin-top: .5rem;
      margin-bottom: 1rem;
      max-width: 100%;

      br {
        display: none;
      }
    }
  }

  .button {
    background: #fff;
    border-color: rgba(255, 255, 255, 0);
    color: #f08c89;
    font-size: 1.25em;

    &:hover {
      border-color: rgba(255, 255, 255, 0.75);
      background-color: rgba(255, 255, 255, 0.15);
      color: #fff;
    }
  }

  a:hover {
    border-color: rgba(255, 255, 255, 0);
  }
}

/* Buckets */

.buckets {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px auto 0 auto;
  max-width: 1000px;

  &__item {
    align-items: center;
    background: rgba(white, 0.9);
    display: flex;
    flex-direction: column;
    height: 11rem;
    margin: 0 .4rem;
    padding: 2rem .6rem 1.8rem .6rem;
    position: relative;
    text-decoration: none;
    top: 0;
    transition: .3s all;
    width: 29%;

    @media screen and (max-width: 600px) {
      height: 20vh;
      padding: .4rem;
      margin: 0.2rem;
      justify-content: center;
    }

    @media screen and (max-width: 480px) {
      align-self: center;
      height: auto;
      min-height: 50px;
      margin-right: 5px;
      padding: 1rem 0;
      width: 28%;

      &:last-child {
        margin-right: 0;
      }
    }

    h3 {
      margin: 0;
      color: #111;
      padding: 0 0 .8rem 0;
      font-size: 1.6rem;
      text-align: center;
      line-height: 1;
      font-family: 'Lora', serif;

      @media screen and (max-width: 768px) {
        font-size: 1.4rem;
        line-height: 1.1;
        padding-bottom: 5rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 1rem;
        line-height: 1.2;
        margin: 0;
        padding: 0;
      }
    }

    p {
      color: #555;
      text-align: center;
      font-size: 1.1rem;
      margin: 0 0 1rem 0;

      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 768px) {
        font-size: .9rem;
      }

      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    &--forms {
      position: relative;

      h3 {
        color: $blue;
      }

      .fa-file-alt {
        color: $blue;
        font-size: 4em;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      &:hover {
        background: $blue;
        color: #FFF;

        h3 {
          color: #FFF;
        }

        p {
          color: #FFF;
        }

        .fa-file-alt {
          color: white;
        }
      }
    }

    &--doctors {
      position: relative;

      h3 {
        color: $green;
      }

      .fa-users {
        color: $green;
        font-size: 4em;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      &:hover {
        background: $green;
        color: #FFF;

        h3 {
          color: #FFF;
        }

        p {
          color: #FFF;
        }

        .fa-users {
          color: white;
        }
      }
    }

    &--directions {
      position: relative;

      h3 {
        color: $orange;
      }

      .fa-map-marker-alt {
        color: $orange;
        font-size: 4em;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      &:hover {
        background: $orange;

        h3 {
          color: #FFF;
        }

        p {
          color: #FFF;
        }

        .fa-map-marker-alt {
          color: #FFF;
        }
      }
    }
  }
}