/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #52575c;
  line-height: normal;
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, select {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #52575c;
  line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
}

h3 {
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

strong, b {
  font-weight: 400;
  color: #42474c;
}

em, i {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #c2c7cc;
}

blockquote {
  border-left: solid 0.5em #c2c7cc;
  padding: 1em 0 1em 2em;
  font-style: italic;
}

ul, ol, dl, table, .features {
  margin-bottom: 1.3em;
}

br.clear, .clear {
  clear: both;
}

.feature {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

/* Sections/Article */

section, article {
  margin-bottom: 0em;
}

section > :last-child, article > :last-child, section:last-child, article:last-child {
  margin-bottom: 0;
}

.row > {
  section, article {
    margin-bottom: 0;
  }
}

/* Image */

.image {
  display: inline-block;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  outline: 0;
  border: 0;

  img, &.fit {
    display: block;
    width: 100%;
  }

  &.featured {
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
  }

  &.left {
    float: left;
    margin: 0 2em 2em 0;
  }

  &.centered {
    display: block;
    margin: 0 0 3em 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

a.image:hover {
  opacity: 0.85;
}

/* List */

ul {
  &.default {
    list-style: disc;
    padding-left: 1em;

    li {
      padding-left: 0.5em;
    }
  }

  &.actions {
    padding-top: 1em;

    &.major {
      text-align: center;
    }

    li {
      display: inline-block;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &.divided li {
    border-top: solid 1px #d2d7dc;
    padding-top: 2em;
    margin-top: 2em;

    &:first-child {
      padding-top: 0;
      margin-top: 0;
      border-top: 0;
    }
  }

  &.icons li:before {
    display: inline-block;
    color: #fff;
    background: #61666b;
    width: 2em;
    height: 2em;
    border-radius: 0.35em;
    text-align: center;
    line-height: 2em;
    margin-right: 0.75em;
  }

  &.menu li {
    display: inline-block;
    border-left: solid 1px #d2d7dc;
    padding-left: 1em;
    margin-left: 1em;

    &:first-child {
      border-left: 0;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

ol.default {
  list-style: decimal;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

.elm-reviews {
  max-width: 1062px;
  margin: auto;

  h3 {
    font-weight: normal;
    color: $orange;
    font-weight: bold;
    font-size: 1.6rem;
  }
}